.hero {
  position: relative;
}
.hero .hero_img {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.hero .hero_img img {
  position: absolute;
  top: -100px;
  left: 0;
}
.hero .hero_inner {
  text-align: center;
  z-index: 101;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -558px;
  color: #fff;
}
.hero .hero_inner h1 {
  font-size: 48px;
  font-weight: lighter;
}
.hero .hero_inner .btn_more {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #fff;
  margin: 40px;
  font-weight: bold;
  background-color: transparent;
}
.hero .hero_inner .btn_more:hover {
  color: #333;
}
.hero .quick_categories {
  position: relative;
  bottom: -30px;
}
.hero .quick_categories li {
  float: left;
  width: 160px;
}
.hero .quick_categories a {
  color: #fff;
  padding-top: 20px;
  box-sizing: border-box;
  height: 136px;
  display: block;
}
.hero .quick_categories a:hover {
  color: #ec008c;
  background-color: #fff;
  border: 1px solid #ec008c;
}
.hero .quick_categories a:hover .icon-cake01 {
  background-position: 0px -192px;
}
.hero .quick_categories a:hover .icon-cake02 {
  background-position: -68px -192px;
}
.hero .quick_categories a:hover .icon-cake03 {
  background-position: -147px -192px;
}
.hero .quick_categories a:hover .icon-cake04 {
  background-position: -223px -192px;
}
.hero .quick_categories a:hover .icon-cake05 {
  background-position: -295px -192px;
}
.hero .quick_categories a:hover .icon-cake06 {
  background-position: -365px -192px;
}
.hero .quick_categories a:hover .icon-cake07 {
  background-position: -435px -192px;
}
.hero .quick_categories ul span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
.hero .info_contact {
  text-align: left;
  width: 250px;
  height: 100px;
  position: absolute;
  top: -80px;
  right: -12px;
  background: url(../images/phone.png) no-repeat;
  padding-left: 85px;
}
.hero .info_contact .number {
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-shadow: #272727 1px 1px 0px;
}
.intro_section {
  margin-top: 45px;
}
.intro_section .saperator {
  background: url(../images/icons.png) no-repeat -96px -38px;
  width: 42px;
  height: 42px;
  display: block;
  position: relative;
  margin: 10px auto 30px auto;
}
.intro_section .saperator:before,
.intro_section .saperator:after {
  content: '';
  display: inline-block;
  width: 250px;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
  background-color: #272727;
}
.intro_section .saperator:before {
  left: 0;
}
.intro_section .saperator:after {
  right: 0;
}
.intro_section .item_inner {
  border-color: #fff;
  color: #fff;
  padding: 0px;
  overflow: hidden;
}
.intro_section .item_inner a {
  color: #fff;
}
.intro_section .item_inner:hover .des_container {
  opacity: 0.9;
  visibility: visible;
  -webkit-transform: scale(1) translateX(0);
  -moz-transform: scale(1) translateX(0);
  -ms-transform: scale(1) translateX(0);
  -o-transform: scale(1) translateX(0);
}
.intro_section .item_inner .des_container {
  padding: 60px 20px 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  text-align: center;
  border: 1px solid #fff;
  outline: 15px solid #ec008c;
  background-color: #ec008c;
}
.intro_section .item_inner .des_container .price_box {
  margin: 20px 0px;
}
.intro_section .item_inner .des_container .old_price {
  color: #fff;
}
.intro_section .item_inner .btn_cart {
  position: relative;
  width: 100px;
  bottom: auto;
  right: 50%;
  margin-left: 130px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  color: #272727;
}
.intro_section .item_inner .btn_cart:before {
  background-position: -256px -6px;
  left: 20px;
}
.item_inner {
  padding: 14px;
  background-color: #fff;
  position: relative;
}
.item_inner a {
  display: block;
}
.item_inner .img_container {
  position: relative;
}
.item_inner .img_container .icon-zoom {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin: -30px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.item_inner .img_container:hover .icon-zoom {
  opacity: 1;
}
.item_inner .img_container:hover .overlay:after {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.item_inner .overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  background-color: rgba(37, 41, 44, 0.7);
}
.item_inner .btn {
  position: absolute;
  right: -1px;
  bottom: 14px;
  padding-left: 40px;
  -webkit-border-radius: 50px 0px 0px 50px;
  -moz-border-radius: 50px 0px 0px 50px;
  border-radius: 50px 0px 0px 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.item_inner .btn span {
  padding-top: 10px;
}
.item_inner .des_container {
  min-height: 80px;
  padding: 14px 0px 40px;
}
.item_inner .des_container .info {
  margin: 10px 0px;
  color: #333;
}
.item_inner .des_container .price_box {
  font-size: 24px;
}
.item_inner .des_container .old_price {
  text-decoration: line-through;
  font-size: 14px;
  color: #999;
}
.info_delivery {
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #272727;
}
.info_delivery h4 {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.info_delivery [class^="delivery"] {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
}
.info_delivery [class^="delivery"]:before {
  content: '';
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 34px;
  position: absolute;
  left: 8px;
}
.info_delivery .delivery01:before {
  background-position: -90px -2px;
  top: 6px;
}
.info_delivery .delivery02:before {
  background-position: -134px -6px;
  top: 11px;
}
.info_delivery .delivery03:before {
  background-position: -177px -4px;
  top: 9px;
}
