.review_pro .owl-products {
  margin-bottom: 20px;
  position: relative;
}
.review_pro .carousel-description {
  width: 25%;
  position: absolute;
  left: 0;
  z-index: 10;
  bottom: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}
.review_pro .carousel-description img {
  width: 100%;
}
.review_pro .carousel-description .content {
  padding: 15px;
  position: absolute;
  z-index: 100;
}
.review_pro .carousel-description h4 {
  margin-bottom: 20px;
}
.review_pro .carousel-description p {
  margin-bottom: 10px;
}
.review_pro .reverse .carousel-description {
  right: 0;
  left: auto;
}
.carousel_wrapper {
  background-color: #efefef;
  padding: 22px;
  margin-left: 25%;
}
.reverse .carousel_wrapper {
  margin-right: 25%;
  margin-left: auto;
}
.owl-carousel .owl-item {
  padding: 5px;
  width: 255px !important;
}
.owl-carousel .owl-controls {
  margin-top: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  margin-top: -20px;
  width: 30px;
  height: 40px;
  position: absolute;
  background: url(../images/icons.png) no-repeat;
  text-indent: -9999px;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  background-position: -217px -41px;
  top: 50%;
  left: -15px;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev:hover {
  background-position: -365px -41px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  background-position: -271px -41px;
  top: 50%;
  right: -15px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next:hover {
  background-position: -419px -41px;
}
